* {
    margin: 0;
    padding: 0;
}

body {
    padding: 4px;
    font-family: Verdana, sans-serif;
    background-color: #17223b;
    background-image: url("../img/rocky-wall.png");
    color: #FFFFFF;
}

h1, h2, h3, p {
    padding: 4px;
}

*:focus {
    outline-color: red;
}

caption {
    font-weight: bold;
    font-size: 28px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 32px;
}

td, th {
    border: 2px solid #ABB2BF;
    text-align: left;
    padding: 8px;
    font-size: 20px;
}

caption:focus, tr:focus {
    color: #FF9999;
}

#content {
    display: flex;
}

#spinner {
    border: 16px solid #5C6475; /* Light grey */
    border-top: 16px solid #FF9999; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s ease-in-out infinite;
    position: fixed; /* or absolute */
    top: 45%;
    left: 50%;
}

#status {
    display: flex;
}

#current-status, #articles {
    display: inline-flex;
    border: 2px solid white;
    flex-direction: column;
    width: 50%;
    margin: 4px;
}

#increase {
    display: flex;
    flex-direction: column;
}

#increase > * {
    border: 1px solid white;
}

#total > * {
    border: 1px solid white;
}

#articles-container > * {
    border: 1px solid white;
}

#status > * {
    width: 50%;
}

div > a {
    padding: 16px;
    font-weight: bold;
    font-size: 1.5em;
    height: 100%;
}

#total {
    display: flex;
    flex-direction: column;
}

#articles-container {
    display: flex;
    flex-direction: column;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.arrow {
    border: solid;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    border-color: red;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    border-color: green;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.flat {
    border-color: yellow;
    border-width: 0 5px 5px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
